 {deps, [lager,jiffy,getopt,recon,zucchini,erlang_localtime
,{inet_cidr, "1.0.2", {git, "https://github.com/2600hz/erlang-inet_cidr.git", {tag, "1.0.2"}}}
]}.
{lib_dirs, ["../../deps", "../../core"]}.
{escript_incl_apps, [kazoo,kazoo_stdlib, kazoo_config, zucchini, lager]}.
{erl_opts, [warn_export_all
           ,warn_missing_spec
           ,warnings_as_errors
           ,debug_info
           ,{parse_transform, lager_transform}
           ]}.
{xref_checks, [undefined_function_calls
              ,deprecated_function_calls
              ,locals_not_used
              ]}.
